<IfModule !authz_core_module>
	<Files *.log>
		order deny,allow
		deny from all
	</Files>
	<Files counter.log>
		Allow From All
	</Files>
</IfModule>
<IfModule authz_core_module>
	<Files *.log>
		Require all denied
	</Files>
	<Files counter.log>
		Require all granted
	</Files>
</IfModule>
